name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish_to_pypi:
    name: Publish to Pypi
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install Python 3.11
        run: uv python install 3.11
      - name: Build
        run: uv build
      # Check that basic features work and we didn't miss to include crucial files
      # - name: Smoke test (wheel)
      #   run: uv run --isolated --no-project --with dist/*.whl tests/smoke_test.py
      # - name: Smoke test (source distribution)
      #   run: uv run --isolated --no-project --with dist/*.tar.gz tests/smoke_test.py
      - name: Publish
        run: uv publish

  npm-release:
    name: Release NPM package
    runs-on: ubuntu-latest
    environment:
      name: npm
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm publish

  cargo-release:
    name: Release Cargo Crate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Publish to Crates.io
        run: cargo publish --token ${{ secrets.CARGO_REGISTRY_TOKEN }}

  dart-release:
    name: Release Dart Package
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
      - name: Setup Pub Credentials
        run: |
          mkdir -p ~/.pub-cache
          echo '${{ secrets.DART_PUB_CREDENTIALS_JSON }}' > ~/.pub-cache/credentials.json
      - name: Publish to pub.dev
        run: dart pub publish --force
